#main-content {
    padding: 150px 20px;
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: lightcoral;
}

.btn-warning {
  background-color:  rgba(98, 7, 57, 0.867) !important;
  color: white;

}
#main-content>h1 {
    font-size: 50px;
    font-weight: bolder;
}

#main-content>span {
    font-size: 25px;
    font-weight :bold;
    opacity: 0.7;

}

#main-content>a {
    margin-top: 30px;
    padding: 10px 20px;
}
